# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.test
.env.production
dist/
build/
.DS_Store
.idea/
.vscode/
*.log
coverage/
*.tsbuildinfo
*.tgz
*.lock
*.cache
*.tmp
*.swp
*.swo
*.bak
*.orig
*.rej
